@import '../../../styles/baseStyle';

.wm-approval-search {
  background-color: $backColor;
  .wm-approval-list {
    position: absolute;
    width: 100%;
    top: .45rem;
    bottom: .49rem;
    overflow: auto;
    padding-top: .11rem;
  }
}
.no-footer .wm-approval-search .wm-approval-list {
  bottom: 0;
}
