@import '../../styles/baseStyle';

.wm-expense-approver {
  text-align: left;
  p {
    @include fontStyle($rFontColor, .15rem, .21rem);
    margin: 0;
    padding: .06rem .12rem;
  }
  .approve-list {
    padding: .24rem .12rem;
    overflow-x: auto;
    white-space: nowrap;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    background-color: $mainColor;
  }
  .approvers {
    display: inline-block;
    vertical-align: top;
  }
  .approver-info {
    display: inline-block;
    text-align: center;
    p {
      @include ellipsis;
    }
  }
  .next-flag {
    width: .22rem;
    margin: .08rem 0.1rem 0;
    vertical-align: top;
  }
  .avatar {
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    margin-bottom: .02rem;
  }
  .nick-name {
    @include fontStyle($lFontColor, .15rem, .21rem);
    padding: 0;
    max-width: .7rem;
  }
}
