@import '../../../styles/baseStyle';

.wm-new-imgs {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  text-align: right;
  background-color: #000;
  .img-box {
    min-height: calc(100% - 1.03rem);
    vertical-align: middle;
  }
  img {
    width: 100%;
    // max-height: calc(100% - 1.03rem);
    margin: .2rem 0;
  }
  button {
    @include fontStyle($mainColor, .17rem, .24rem);
    margin: 0 .22rem .19rem;
    padding: .1rem .28rem;
    background-color: $errorColor;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
