@import '../../styles/baseStyle';

.yh-pagination {
  text-align: right;
  ul, li {
    display: inline-block;
  }
  ul {
    margin: 0 10px;
  }
  span {
    @include fontStyle($fontColor, 14px, 18px);
    display: inline-block;
  }
  select, button, input {
    @include disabled;
    @include fontStyle($fontColor, 14px, 18px);
    &:focus {
      outline: none;
    }
    padding: 5px 8px;
    border: 1px solid $borderColor;
    border-radius: 2px;
    text-align: center;
  }
  select {
    height: 30px;
    margin-left: 10px;
    vertical-align: bottom;
    background-color: #fff;
  }
  option {
    background-color: #fff;
  }
  button {
    @include likeButton;
    min-width: 30px;
    &:active {
      background-color: $activeColor;
    }
  }
  .current-page {
    &[disabled] {
      color: $mainColor;
      background-color: lighten($activeColor, 10%);
      border: 1px solid lighten($activeColor, 10%);
    }
  }
  .page-jump {
    width: 30px;
    margin: 0 5px;
  }
}
