.duck {
  display: block;
  width: 1.2rem;
  margin: .15rem auto;
}
.wm-home {
  .homeLine {
    display: flex;
    flex-direction: row;
  }
  .homeBtnCell {
    flex: 1;
    height: .9rem;
    text-align: center;
    overflow: hidden;
  }
  .homeCellImg {
    display: block;
    width: .45rem;
    height: .45rem;
    margin: 0 auto;
    border-radius: 4px;
  }
}
