@import '../../../styles/baseStyle.scss';

.yh-login-validate {
  .mobile-number {
    @include fontStyle($llFontColor, 14px, 19px);
    width: 379px;
    margin: 19px auto;
    text-align: left;
    span {
      display: inline-block;
      margin-left: 36px;
      color: $fontColor;
    }
  }
  .warning {
    display: block;
    margin: 6px auto;
    span {
      @include fontStyle($errorColor, 12px, 17px);
      display: inline-block;
      width: 379px;
      text-align: left;
    }
    .fa-exclamation-circle {
      margin-right: 4px;
    }
  }
  .yh-main-button {
    display: block;
    width: 379px;
    margin: 12px auto 0;
    color: $mainColor;
    background-color: $warningColor;
    border-color: $warningColor;
    &:active {
      background-color: darken($warningColor, 10%);
    }
  }
}
