@import '../../styles/baseStyle';

.wm-user-list {
  .title {
    @include fontStyle($fontNameColor, .17rem, .24rem);
    padding: .03rem .12rem;
  }
  li + li:not(:last-child) {
    .line {
      border-bottom: 1px solid $borderColor;
    }
  }
  &.in-search {
    li:not(:last-child) {
      .line {
        border-bottom: 1px solid $borderColor;
      }
    }
  }
}
