@import '../../styles/baseStyle';

.wm-user-list {
  margin-bottom: .15rem;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  background-color: #fff;
  .title {
    height: .3rem;
    padding: .06rem .1rem 0;
    border-bottom: 1px solid $borderColor;
    color: $activeColor;
  }
  li:last-child span {
    border-bottom: none;
  }
}
