.wm-home-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: .49rem;
  left: 0;
  overflow: auto;
  .wm-list-topic {
    &.has-sum {
      padding-top: .43rem;
    }
    padding-left: .12rem;
  }
}
.no-footer .wm-home-list {
  bottom: 0;
}
