@import '../../../styles/baseStyle';

.wm-approval-filter {
  height: 100%;
  overflow: auto;
  background-color: $backColor;
  .wm-form-button {
    @include fontStyle($mainColor, .17rem, .24rem);
    width: calc(100% - .24rem);
    margin: .3rem .12rem 0.12rem;
    padding: .12rem;
    border: none;
    background-color: $activeColor;
    border-radius: 5px;
  }
}
