@import '../../../styles/baseStyle';

.wm-approval-filter {
  background-color: $backColor;
  .filter {
    margin-bottom: 2rem;
  }
  .top-btn {
    width: 100%;
    color: $activeColor;
    position: fixed;
    top: 0;
    padding: 2rem 0 .5rem;
    left: 0;
    background-color: $backColor;
    border: 0;
    border-bottom: 1px solid $borderColorSecondary;
    height: 4rem;
  }
  .wm-approval-list {
    position: absolute;
    padding: 0 .6rem;
    width: 100%;
    top: 4rem;
    bottom: 0;
    overflow: auto;
  }
  &.padding {
    padding: $panelPadding;
  }
}
