@import '../../styles/baseStyle';

.wm-receipt-details {
  padding: 1rem;
  background-color: $backColor;
  border-bottom: 1px solid $borderColorSecondary;
  text-align: left;

  p {
    margin-bottom: 0.5rem;
  }

  > div + div {
    margin-top: 1rem;
  }
}
