@import '../../styles/baseStyle';

.wm-approval-info {
  margin: 0 .12rem .08rem;
  padding: .16rem .12rem;
  border-radius: 5px;
  background-color: $mainColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  .avatar {
    -webkit-box-flex: none;
    -ms-flex: none;
    flex: none;
    width: .4rem;
    height: .4rem;
    margin-right: .1rem;
    border-radius: 50%;
  }
  .info {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    text-align: left;
    overflow: hidden;
    > p {
      margin-bottom: .03rem;
      @include ellipsis;
    }
  }
  .title {
    @include fontStyle($fontColor, .17rem, .24rem);
  }
  .name {
    @include fontStyle($lFontColor, .13rem, .18rem);
  }
  .bill {
    @include fontStyle($errorColor, .16rem, .19rem);
  }
  &.tag-2, &.tag-4 {
    .bill {
      color: $lFontColor;
    }
  }
  .info-r {
    -webkit-box-flex: none;
    -ms-flex: none;
    flex: none;
    margin-left: .1rem;
    text-align: right;
    .dt {
      @include fontStyle($rFontColor, .13rem, .16rem);
      margin-bottom: .07rem;
    }
    .status {
      font-size: .13rem;
      line-height: .18rem;
    }
  }
}
