@import '../../styles/baseStyle';

.wm-user-info {
  position: relative;
  height: .3rem;
  padding: .04rem .1rem 0;
  background-color: #fff;
  cursor: pointer;
  i.fa {
    width: .13rem;
    height: .13rem;
    margin-top: .05rem;
    margin-right: 0;
  }
  img {
    width: .22rem;
    height: .22rem;
    margin: 0 .1rem;
    border-radius: 50%;
    vertical-align: top;
    background-color: #fff;
  }
  span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: .68rem;
    padding-top: .08rem;
    border-bottom: 1px solid $borderColor;
    font-size: .14rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}