@import '../../styles/baseStyle';

.wm-approval-nav {
  display: inline-block;
  position: relative;
  height: .44rem;
  width: 25%;
  text-align: center;
  a {
    @include fontStyle($fontColor, .15rem, .21rem);
    display: inline-block;
    margin-top: .16rem;
    text-align: center;
  }
  &.active a {
    color: $activeColor;
  }
  &.active:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: calc(50% - .15rem);
    width: .3rem;
    height: .03rem;
    background-color: $activeColor;
  }
}
