@import '../../styles/baseStyle';

.no-data {
  padding: $panelPadding;
  margin: .7rem 0;
  i {
    color: $activeColor;
    font-size: .7rem;
  }
  img {
    width: 1.2rem;
  }
  p {
    margin-top: .13rem;
    @include fontStyle($lFontColor, .17rem, .24rem);
  }
  &.small {
    padding-top: 0;
    margin: 0 0 .34rem;
    i {
      font-size: .3rem;
    }
    img {
      width: .22rem;
    }
    p {
      @include fontStyle($rFontColor, .13rem, .18rem);
      display: inline-block;
      margin: 0 0 0 .12rem;
      vertical-align: middle;
    }
  }
  &.xsmall {
    padding: 0;
    margin: 0;
    img {
      height: .12rem;
    }
    i {
      font-size: .14rem;
    }
    p {
      font-size: .14rem;
      display: inline-block;
      margin: .06rem 0 .06rem .02rem;
    }
  }
  &.cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: .7rem 0;
    background-color: rgba(240, 240, 240, .7)
  }
  &.loading:not(.small):not(.xsmall) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 1.9rem 0 0;
    .box {
      width: 1.2rem;
      height: 1.2rem;
      margin: 0 auto;
      border-radius: 5px;
      background-color: rgba(17, 17, 17, .7);
    }
  }
}
