@import '../../styles/baseStyle';

.no-data {
  padding: $panelPadding;
  margin: .7rem 0;
  i {
    color: $activeColor;
    font-size: .7rem;
  }
  img {
    width: 1.2rem;
  }
  p {
    margin-top: .13rem;
    font-size: .17rem;
    line-height: .24rem;
    color: $lFontColor;
  }
  &.small {
    padding-top: 0;
    margin: .2rem 0;
    i {
      font-size: .3rem;
    }
    img {
      width: .3rem;
    }
    p {
      margin-top: .05rem;
      font-size: 14px;
    }
  }
  &.xsmall {
    padding: 0;
    margin: 0;
    img {
      height: .12rem;
    }
    i {
      font-size: .14rem;
    }
    p {
      font-size: .14rem;
      display: inline-block;
      margin: .06rem 0 .06rem .02rem;
    }
  }
  &.cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: .7rem 0;
    background-color: rgba(240, 240, 240, .7)
  }
}
