@import '../../../styles/baseStyle';

.wm-approval-filter-results {
  .wm-approval-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: .49rem;
    left: 0;
    padding-top: .12rem
  }
}
.no-footer .wm-approval-filter-results .wm-approval-list {
  bottom: 0;
}

