@import '../../styles/baseStyle';

.wm-expense-detail-info {
  &>button {
    float: right;
    border: none;
    background-color: transparent;
    color: $activeColor;
  }
  .wm-form-link {
    clear: both;
  }
  span {
    float: left;
    margin: .02rem 0 .02rem .1rem;
  }
}
