@import '../../styles/baseStyle';

.wm-expense-detail-info {
  &>button {
    float: right;
    color: $activeColor;
  }
  .close-button {
    &+div {
      clear: both;
    }
  }
  span {
    float: left;
    margin: .2rem 0 0 1rem;
  }
}
