@import '../../../styles/baseStyle';

.wm-new-type {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $btnBackColor;
  padding: $panelPadding;
  overflow: auto;
  z-index: 1;
  .search {
    margin-bottom: .1rem;
  }
  button {
    font-size: .16rem;
    padding: .02rem 0;
    width: .34rem;
    height: .22rem;
    color: $activeColor;
    border: none;
    vertical-align: bottom;
    background-color: transparent;
  }
  input {
    width: calc(100% - .56rem);
    height: .22rem;
    background-color: $backColor;
    border: none;
  }
  i.fa-search {
    width: .22rem;
    line-height: .22rem;
    background-color: $backColor;
    vertical-align: bottom;
  }
  li {
    position: relative;
    text-align: left;
    font-size: .16rem;
    line-height: .24rem;
    padding: .04rem .14rem;
    background-color: $backColor;
    border-bottom: 1px solid $borderColorSecondary;
    i {
      position: absolute;
      right: .08rem;
      font-size: .24rem;
      line-height: .24rem;
    }
    &.active {
      color: $backColor;
      background-color: $activeColor;
      i {
        color: $backColor;
      }
    }
    &.return {
      margin-bottom: .08rem;
      border-bottom: none;
      i {
        color: $activeColor;
        font-size: .18rem;
      }
    }
  }
}
