@import '../../styles/baseStyle';

.wm-block-buttons {
  background-color: $backColor;
  button {
    margin: .5rem 0;
    padding: .5rem 0;
    border: none;
    font-size: 1.6rem;
    background-color: transparent;
    color: $activeColor;
    outline: none;
    & + button {
      border-left: 1px solid $activeColor;
    }
  }
}
