@import '../../styles/baseStyle';

.wm-block-buttons {
  background-color: $backColor;
  button {
    height: 2rem;
    margin: .5rem 0 1.5rem;
    border: none;
    background-color: transparent;
    color: $activeColor;
    outline: none;
    & + button {
      border-left: 1px solid $activeColor;
    }
  }
}
