@import '../../styles/baseStyle';

.wm-block-buttons {
  background-color: $backColor;
  button {
    margin: .05rem 0;
    padding: .05rem 0;
    border: none;
    font-size: 16px;
    background-color: transparent;
    color: $activeColor;
    outline: none;
    & + button {
      border-left: 1px solid $activeColor;
    }
  }
}
