@import '../../styles/baseStyle';

.wm-row-buttons {
  background-color: $mainColor;
  margin-bottom: .12rem;
  .wm-row-button {
    display: inline-block;
    width: 33.3%;
  }
  img {
    width: .42rem;
    margin: .15rem 0 .08rem;
  }
  p {
    margin-bottom: .15rem;
    font-size: .14rem;
    line-height: .2rem;
  }
}