@import '../../styles/baseStyle';

.wm-expense-form {
  >div + div, >button + div {
    margin-top: 2rem;
  }
  // >div {
  //   >div + button, >div + div {
  //     margin-top: 1rem;
  //   }
  // }
  .wm-expense-detail-info + .wm-expense-detail-info, .wm-confirm-button {
    margin-top: 1rem;
  }
  .wm-form-button {
    width: 8rem;
    margin: 1rem;
  }
}
