@import '../../styles/baseStyle';

.wm-expense-form {
  -webkit-overflow-scrolling : touch;
  > div + div {
    margin-top: .1rem;
  }
  > div + .wm-modal-select {
    margin-top: 0;
  }
  .wm-expense-detail-info + .wm-expense-detail-info, .wm-confirm-button {
    margin-top: .1rem;
  }
  button:focus, textarea:focus, input:focus {
    outline: none;
  }
  > div + .wm-block-buttons {
    margin-top: .12rem;
  }
}
