@import '../../styles/baseStyle';
.wm-receipt {
  margin-bottom: .09rem;
  background-color: $mainColor;
  .fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .49rem;
    background-color: $mainColor;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, .1)
  }
  button {
    @include fontStyle($activeColor, .17rem, .24rem);
    background-color: $mainColor;
    outline: none;
  }
  .flex {
    display: flex;
  }
  .span-name {
    flex: none;
    display: inline-block;
    margin: .03rem 0;
    width: .6rem;
    text-align: right;
    @include fontStyle($lFontColor, .15rem, .2rem);
  }
  .span-content {
    flex: auto;
    margin: .03rem 0;
    margin-left: .1rem;
    font-size: .17rem;
    line-height: .2rem;
    word-break: break-all;
    i {
      color: $fontColor;
      font-style: normal;
    }
  }
}

.wm-receipt-header {
  margin-left: .2rem;
  text-align: left;
  p { margin: 0; }
  .main-info { border-bottom: $border; }
  .avatar {
    @include avatar(.4rem);
    margin: .16rem .12rem .14rem 0;
  }
  .base-info {
    display: inline-block;
    .name {
      margin-top: .14rem;
      font-size: .17rem;
      line-height: .24rem;
    }
    .type {
      margin: 0;
      font-size: .13rem;
      line-height: .18rem;
    }
  }
  .receipt-info {
    padding: 0.07rem 0;
  }
}

.wm-receipt-details {
  margin: 0 .2rem;
  text-align: left;
  .detail {
    margin-bottom: .17rem;
  }
  .title {
    margin: .1rem 0 .06rem;
    padding: .02rem .08rem;
    background-color: $backSecondColor;
    font-size: .17rem;
    line-height: .24rem;
  }
  p {
    margin-bottom: 0.05rem;
  }

  > div + div {
    margin-top: .1rem;
  }
}

.wm-receipt-buttons {
  display: flex;
  flex-direction: row;
  padding: 0.12rem 0;
  z-index: 999;
  height: .49rem;
  a {
    @include fontStyle($activeColor, .17rem, .24rem);
    flex: 1;
    // border-right: 1px solid $borderSecondColor;
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: .18rem;
      height: .14rem;
      width: 1px;
      background-color: $borderSecondColor;
    }
    &:first-child:after {
      display: none;
    }
  }
}

.wm-receipt-attchment {
  text-align: left;
  .attachment-title {
    @include fontStyle($rFontColor, .15rem, .21rem);
    display: block;
    padding: .08rem .12rem .06rem;
    background-color: $backColor;
  }
  .attachment-box {
    width: 100%;
    padding-top: .16rem;
  }
  .attachment-row {
    position: relative;
    width: 100%;
    padding-bottom: 25%;
    margin-bottom: .02rem;
  }
  .attImg {
    position: absolute;
    display: inline-block;
    width: calc(25% - .14rem);
    height: calc(100% - .14rem);
    top: 0;
    &:first-child {
      left: .16rem;
    }
    &:nth-child(2) {
      left: calc(25% + .12rem);
    }
    &:nth-child(3) {
      right: calc(25% + .12rem);
    }
    &:nth-child(4) {
      right: .16rem;
    }
    overflow: hidden;
  }
}

.wm-receipt-flow {
  &:before, &:after {
    content: ' ';
    display: block;
    width: 100%;
    height: .08rem;
    background-color: $backColor;
  }
  &:after {
    height: .12rem;
  }
  text-align: left;

  .flow {
    position: relative;
    &:first-child {
      margin-top: .2rem;
    }
    &:last-child {
      .info {
        border-left: none;
      }
    }
  }

  .avatar {
    @include avatar(.3rem);
    position: absolute;
    top: 0;
    left: .2rem;
  }

  .detail {
    position: relative;
    margin-bottom: .08rem;
    border: 1px solid $borderColorSecondary;
    border-radius: .03rem;
    @include left-arrow(.01rem, .05rem);
  }
  .info {
    display: inline-block;
    width: calc(100% - .35rem);
    margin: 0 0 0 .35rem;
    padding: 0 .2rem .38rem .26rem;
    border-left: 1px dashed $borderColor;
  }
  .base-info {
    margin: 0;
    span {
      font-size: .15rem;
      line-height: .21rem;
      &:first-child {
        margin-right: .1rem;
      }
    }
    .update {
      @include fontStyle($rFontColor, .13rem, .16rem);
    }
  }
  .comment {
    margin: .1rem 0 0;
    word-wrap: break-word;
    font-size: .17rem;
    line-height: .24rem;
  }
}

.wm-receipt-history {
  text-align: left;
  .topic {
    @include fontStyle($rFontColor, .15rem, .21rem);
    display: block;
    padding: .08rem .12rem .06rem;
    background-color: $backColor;
  }
  > div {
    padding-bottom: .16rem;
  }
  p { margin: 0; }
  .title {
    @include fontStyle($fontNameColor, .15rem, .21rem);
    padding: .18rem .21rem .08rem .21rem;
  }
  .content {
    @include fontStyle($lFontColor, .15rem, .21rem);
    padding: 0 .12rem .02rem .31rem;
  }
}
