@import '../../styles/baseStyle';
.wm-receipt {
  position: absolute;
  top: 0;
  right: 0;
  bottom: .49rem;
  left: 0;
  // background-color: $mainColor;
  overflow-y: auto;
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .span-name {
    -webkit-box-flex: none;
    -ms-flex: none;
    flex: none;
    display: inline-block;
    margin: .03rem 0;
    width: .6rem;
    text-align: right;
    @include fontStyle($lFontColor, .15rem, .2rem);
  }
  .span-content {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    margin: .03rem 0;
    margin-left: .1rem;
    font-size: .17rem;
    line-height: .2rem;
    word-break: break-all;
    i {
      color: $fontColor;
      font-style: normal;
    }
  }
}

.wm-receipt-header {
  padding-left: .2rem;
  text-align: left;
  background-color: $mainColor;
  p { margin: 0; }
  .main-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: $border;
  }
  .avatar {
    @include avatar(.4rem);
    margin: .16rem .12rem .14rem 0;
  }
  .base-info {
    display: inline-block;
    max-width: calc(100% - .5rem);
    .name {
      @include ellipsis;
      margin-top: .14rem;
      font-size: .17rem;
      line-height: .24rem;
    }
    .type {
      margin: 0;
      font-size: .13rem;
      line-height: .18rem;
    }
  }
  .receipt-info {
    padding: 0.07rem 0;
  }
}

.wm-receipt-details {
  padding: .1rem .2rem 0;
  text-align: left;
  background-color: $mainColor;
  .detail {
    padding-bottom: .17rem;
  }
  .title {
    margin: 0 0 .06rem;
    padding: .02rem .08rem;
    background-color: $backSecondColor;
    font-size: .17rem;
    line-height: .24rem;
  }
  p {
    margin-bottom: 0.05rem;
  }

  > div + div {
    margin-top: .1rem;
  }
}

.wm-receipt-attchment {
  background-color: $mainColor;
  text-align: left;
  .attachment-title {
    @include fontStyle($rFontColor, .15rem, .21rem);
    display: block;
    padding: .08rem .12rem .06rem;
    background-color: $backColor;
  }
  .attachment-box {
    width: 100%;
    padding-top: .16rem;
  }
  .attachment-row {
    position: relative;
    width: 100%;
    padding-bottom: 25%;
    margin-bottom: .02rem;
  }
  .attImg {
    position: absolute;
    display: inline-block;
    width: calc(25% - .14rem);
    height: calc(100% - .14rem);
    top: 0;
    &:first-child {
      left: .16rem;
    }
    &:nth-child(2) {
      left: calc(25% + .12rem);
    }
    &:nth-child(3) {
      right: calc(25% + .12rem);
    }
    &:nth-child(4) {
      right: .16rem;
    }
    overflow: hidden;
  }
}

.wm-receipt-flow {
  background-color: $mainColor;
  &:before, &:after {
    content: ' ';
    display: block;
    width: 100%;
    height: .08rem;
    background-color: $backColor;
  }
  &:after {
    height: .12rem;
  }
  text-align: left;

  .flow {
    position: relative;
    &:first-child {
      margin-top: .2rem;
    }
    &:last-child {
      .info {
        border-left: none;
      }
    }
  }

  .avatar {
    @include avatar(.3rem);
    position: absolute;
    top: 0;
    left: .2rem;
  }

  .detail {
    position: relative;
    margin-bottom: .08rem;
    border: 1px solid $borderColorSecondary;
    border-radius: .03rem;
    @include left-arrow(.01rem, .05rem);
  }
  .info {
    display: inline-block;
    width: calc(100% - .35rem);
    margin: 0 0 0 .35rem;
    padding: 0 .2rem .38rem .26rem;
    border-left: 1px dashed $borderColor;
  }
  .base-info {
    margin: 0;
    span {
      font-size: .15rem;
      line-height: .21rem;
      &:first-child {
        @include ellipsis;
        max-width: calc(100% - 1.7rem);
        margin-right: .1rem;
      }
    }
    .update {
      @include fontStyle($rFontColor, .13rem, .16rem);
    }
  }
  .comment {
    margin: .1rem 0 0;
    word-wrap: break-word;
    font-size: .17rem;
    line-height: .24rem;
  }
}

.wm-receipt-history {
  background-color: $mainColor;
  text-align: left;
  .topic {
    @include fontStyle($rFontColor, .15rem, .21rem);
    display: block;
    padding: .08rem .12rem .06rem;
    background-color: $backColor;
  }
  > div {
    padding-bottom: .16rem;
  }
  p { margin: 0; }
  .title {
    @include fontStyle($fontNameColor, .15rem, .21rem);
    padding: .18rem .21rem .08rem .21rem;
  }
  .content {
    @include fontStyle($lFontColor, .15rem, .21rem);
    padding: 0 .12rem .02rem .31rem;
  }
}
