$backColor: #fafafa;
$backSecondColor: #f4f4f4;
$mainColor: #fff;
$footColor: rgba(247, 247, 247, .8);
$activeColor: #3599f4;
$borderColor: #d9d9d9;
$hborderColor: #e67338;

$fontColor: #392d2f;
$lFontColor: #7a7a7a;
$llFontColor: #b3b3b3;
$hFontColor: #ccc;

$disabledColor: #eee;

$correctColor: #00c853;
$warningColor: #fd643f;
$errorColor: #f21b1b;
$secondaryColor: #7a7a7a;

$panelPadding: 0.2rem .06rem 0;

@mixin border {
  border: 1px solid $borderColor;
  border-radius: 2px;
}

@mixin fontStyle ($color, $size, $height) {
  color: $color;
  font-size: $size;
  line-height: $height;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin likeButton {
  cursor: pointer;
  user-select: none;
  &:focus {
    outline: none;
  }
}

@mixin disabled {
  &[disabled] {
    background-color: $disabledColor;
    cursor: not-allowed;
  }
}
