$borderColor: #c7c7cc;
$borderRadius: 4px;
$inputPadding: .2rem .3rem;

$fontColor: #666;
$inputFontSize: 1.6rem;
$inputLineHeight: 1.8rem;
$defaultColor: #c7c7cc;

$panelPaddingTop: 2rem;

$panelPadding: 2rem .6rem 0;
$radiusCycle: 1.2rem;

$activeColor: #38adff;
$activeHoverColor: #1e84dc;

$activeBorderColor: #3793d4;
$activeHoverBorderColor: #136ebd;

$successColor: #17c3a3;

$backColor: #fff;

$btnBackColor: #f4f4f4;
$btnSuccessBackColor: #dcf6ef;

$disabledColor: #666;
$disabledBorderColor: #666;
$disabledOpacity: .3;

$borderColorSecondary: #c7c7cc;

$mainColor:#ff943e;
$canClick:#38ADEF;
$homeBg:white;

@mixin left-arrow ($top, $size) {
  &:before {
    content: ' ';
    position: absolute;
    top: $top;
    left: -1rem;
    border: $size solid transparent;
    border-right: $size solid $borderColorSecondary;
  }
  &:after {
    content: ' ';
    position: absolute;
    top: $top;
    left: -.95rem;
    border: $size solid transparent;
    border-right: $size solid $backColor;
  }
}

@mixin avatar ($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
  vertical-align: top;
}

$formLabelWidth: 6rem;
$formControlWidth: calc(100% - 6rem);

@mixin form-control {
  width: 100%;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid $borderColorSecondary;
  background-color: $backColor;
  text-align: left;
  font-size: $inputFontSize;
  label {
    display: inline-block;
    white-space: nowrap;
    overflow: visible;
    font-weight: normal;
    margin: 0;
    &:first-child {
      width: $formLabelWidth;
      text-align: left;
    }
    &+label {
      width: $formControlWidth;
      text-align: right;
    }
  }
  button, input {
    width: $formControlWidth;
    padding: 0;
    text-align: right;
    border: none;
    background-color: transparent;
  }
  textarea {
    width: 100%;
    height: $inputLineHeight * 3;
    border: none;
    background-color: transparent;
    resize: none;
  }
}

.wm-color-secondary {
  color: #ccc;
}

.wm-color-primary {
  color: #38adef;
}

.wm-color-correct {
  color: #78c06e;
}

.wm-color-error {
  color: #d81e06;
}

.wm-color-important {
  color: #ff9642;
}
.loadMore{
  padding:6px 0; color:#ccc;
}

