@import 'base';
@import '~normalize.css/normalize';
@import 'baseStyle';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
  font-size: 625%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $backColor;
  color: $fontColor;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a, a:focus, a:hover {
  text-decoration: none;
}

.container {
  padding: 0;
}
ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
