@import '../../styles/baseStyle';

.yh-main-button {
  @include fontStyle($llFontColor, 14px, 20px);
  @include border;
  width: 264px;
  padding: 10px;
  cursor: pointer;
  background-color: $disabledColor;
  &:focus {
    outline: none;
  }
  &:active {
    background-color: darken($mainColor, 10%);
  }
  @include disabled;
}
