@import '../../styles/baseStyle';

.wm-homeApproveList{
  background: $homeBg;
  ul{ padding:40px 6px 0 6px;}
  ul li{
    display: flex; flex-direction:row; padding:10px 0px; border-bottom:1px solid $borderColor;
  }
  p{
    flex:1; margin:0; line-height:20px;
    &:last-child{

    }
    &:nth-child(3){
      flex:1.7; color:$mainColor;
    }
    &:last-child{
      flex:0.5;
    }
  }
  i{
    font-size:20px; color:$canClick;
  }
  .loadMore{
    padding:6px;
  }
}