@import '../../styles/baseStyle';

.wm-homeApproveList{
  padding:0px 6px; background: $homeBg;
  ul li{
    display: flex; flex-direction:row; border-bottom:1px solid #ccc; padding:10px 0px;
  }
  p{
    flex:1; margin:0;
    &:last-child{

    }
    &:nth-child(3){
      flex:1.7; color:$mainColor;
    }
    &:last-child{
      flex:0.5;
    }
  }
  i{
    font-size:20px; color:$canClick;
  }
}