@import '../../styles/baseStyle';

.wm-homeApproveList {
  background: $homeBg;
  ul {
    padding: .4rem .06rem 0 .06rem;
  }
  ul li {
    display: flex;
    flex-direction: row;
    padding: .1rem 0;
    border-bottom: 1px solid $borderColor;
  }
  p {
    flex: 1;
    margin: 0;
    line-height: .2rem;
    &:nth-child(3) {
      flex: 1.7;
      color: $mainColor;
    }
    &:last-child {
      flex: 0.5;
    }
  }
  i {
    font-size: 20px;
    color: $canClick;
  }
  .loadMore {
    padding: .06rem;
  }
}
