@import '../../../styles/baseStyle';

.wm-settings {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  ul {
    list-style-type: none;
    text-align: left;
  }
  .a-link {
    margin-top: .12rem;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
  }

  a {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: .09rem .14rem .09rem .16rem;
    background-color: $mainColor;
    color: $fontColor;
    font-size: $inputFontSize;
    .icon {
      flex: none;
      width: .24rem;
      height: .3rem;
      margin-right: .14rem;
    }
    .text {
      @include ellipsis;
      flex: auto;
    }
    .admin-icon {
      flex: none;
      width: .3rem;
      height: .3rem;
      margin-left: .1rem;
      border-radius: 50%;
    }
    .arrow {
      flex: none;
      width: .08rem;
      height: .13rem;
      margin-left: .1rem;
    }
    &:focus, &:hover {
      text-decoration: none;
    }
  }
  .userinfo {
    position: relative;
    height: 1.99rem;
    padding: .11rem 0 ;
    background: url('../assets/me_back.png') no-repeat 0/cover;
    img {
      width: .9rem;
      height: .9rem;
      margin: .03rem 0 .16rem;
      box-shadow: 0 0 .05rem rgba(224, 244, 252, .20), 0 0 .1rem rgba(238, 248, 252, .12);
      border-radius: 50%;
    }
    .name {
      @include fontStyle($mainColor, .2rem, .28rem);
      margin-bottom: .03rem;
    }
    .phone {
      @include fontStyle($mainColor, .15rem, .17rem);
      margin-bottom: .03rem;
    }
  }
}
