@import '../../../styles/baseStyle';

.wm-settings {
  ul {
    padding: 0;
    list-style-type: none;
    text-align: left;
  }
  .a-link + .a-link {
    border-top: 2px solid $defaultColor;
  }

  a {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 1rem 0.5rem;
    background-color: $backColor;
    color: $fontColor;
    font-size: 2rem;

    &:after {
      content: '>';
      position: absolute;
      top: 0.6rem;
      right: 0.5rem;
      font-size: 2.3rem;
      color: $defaultColor;
    }
    &:focus, &:hover {
      text-decoration: none;
    }
  }
}
