@import '../../styles/baseStyle.scss';

.yh-step {
  div {
    display: inline-block;
    margin-bottom: 6px;
  }
  .in-step {
    .step {
      width: 77px;
      height: 57px;
      background: url(./assets/step.png) no-repeat left center / 77px 57px;
      user-select: none;
    }
    &:last-child {
      .step {
        width: 57px;
      }
    }
  }
  .out-step {
    min-width: 77px;
    .step {
      @include fontStyle($hFontColor, 30px, 47px);
      width: 57px;
      height: 57px;
      margin: 0 auto;
      border: 5px solid $hFontColor;
      border-radius: 50%;
      text-align: center;
      font-weight: bold;
      user-select: none;
    }
  }
  .text {
    @include fontStyle($secondaryColor, 16px, 21px);
    margin-top: 6px;
    text-align: center;
  }
}
