@import '../../styles/baseStyle';

.wm-search-form {
  padding: .08rem 0 .08rem .1rem;
  text-align: center;
  height: .415rem;
  i, input {
    background-color: $btnBackColor;
    color: $borderColorSecondary;
    height: .24rem;
    border: none;
    outline: none;
    font-size: 14px;
    display: inline-block;
    line-height: 18px;
    vertical-align: top;
  }
  i {
    width: .25rem;
    padding: .04rem 0;
    text-align: center;
  }
  .fa-times-circle {
    color: $fontColor;
  }
  input {
    padding: .04rem .05rem;
    width: calc(100% - .9rem);
    color: $fontColor;
  }
  input.dirty {
    width: calc(100% - .6rem);
  }
  a {
    display: inline-block;
    color: $activeColor;
    padding: .04rem .03rem;
    width: .4rem;
    text-align: center;
  }
  border-bottom: 1px solid $borderColorSecondary;
}
