@import '../../styles/baseStyle';

.wm-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .08rem 0 .08rem .08rem;
  background-color: $mainColor;
  i, input {
    @include fontStyle($lFontColor, .14rem, .2rem);
    display: inline-block;
  }
  i {
    position: absolute;
    top: .12rem;
  }
  .fa-search {
    left: .16rem;
  }
  .fa-times-circle {
    right: .62rem;
  }
  input {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    padding: .04rem .29rem .04rem .29rem;
    width: calc(100% - .9rem);
    color: $fontColor;
    background-color: $btnBackColor;
    border: none;
    outline: none;
    border-radius: 5px;
    &:last-child {
      margin-right: .08rem;
    }
  }
  a {
    @include fontStyle($activeColor, .16rem, .22rem);
    -webkit-box-flex: none;
    -ms-flex: none;
    flex: none;
    display: inline-block;
    width: auto;
    padding: .03rem .1rem;
  }
  border-bottom: 1px solid $borderColor;
}
