@import '../../styles/baseStyle';

.wm-dev-button {
  position: fixed;
  top: .4rem;
  right: 0;
  z-index: 9999;
  input {
    @include fontStyle($fontColor, .12rem, .16rem);
    display: block;
    width: .6rem;
    padding: .03rem;
    background-color: rgba(0, 0, 0, .2);
    &+ input {
      margin-top: .02rem;
    }
  }
}
