@import '../../styles/baseStyle';

.wm-input-search {
  width: 100%;
  padding: 1rem;
  input {
    width: 100%;
    padding: .5rem 1rem;
    border: 1px solid $borderColor;
    border-radius: 4px;
    text-align: center;
  }
}
