@import '../../styles/baseStyle';

.footer-button {
  position: absolute;
  display: inline-block;
  width: 20%;
  bottom: 0;
  color: #8ea8ba;
  &:focus, &:hover {
    color: #8ea8ba;
  }
  &.active {
    color: $activeColor;
  }
  &.big {
    > i {
      font-size: .5rem;
      background-color: $backColor;
      border-radius: 50%;
    }
    > img {
      width: .7rem;
      border-radius: 50%;
    }
    > .foot-fav-color{
      color:$activeColor;
    }
  }
  &[disabled] {
    pointer-events: none;
  }
  > img {
    width: .26rem;
    max-width: 100%; 
    outline: none;
    vertical-align: bottom;
  }
  > i {
    font-size: .28rem;
    max-width: 100%;
  }
  > p {
    font-size: .12rem;
    line-height: .12rem;
    margin: 0.055rem 0 0.015rem;
  }
}

