@import '../../styles/baseStyle';

.footer-button {
  display: inline-block;
  width: 20%;
  color: $defaultColor;
  vertical-align: top;

  &.active {
    color: $activeColor;
  }
  &:focus, &:hover {
    color: $defaultColor;
  }
  &.imgOnly {
    > i {
      font-size: 4rem;
      padding-top: 0.5rem;      
    }
  }

  > i {
    font-size: 3.5rem;
    max-width: 100%;    
  }
  > p {
    font-size: 2rem;
  }
}
