@import '../../styles/baseStyle';

.footer-button {
  position: absolute;
  display: inline-block;
  width: 20%;
  bottom: 0;
  color: $defaultColor;
  &:focus, &:hover {
    color: $defaultColor;
  }
  &.active {
    color: $activeColor;
  }
  &.big {
    > i {
      font-size: 5rem;
      background-color: $backColor;
      border-radius: 50%;  
    }
  }
  &[disabled] {
    pointer-events: none;
  }

  > i {
    font-size: 2.8rem;
    max-width: 100%;    
  }
  > p {
    margin: 0;
    font-size: 1.4rem;
  }
}
