@import '../../styles/baseStyle';

.wm-range {
  padding: .15rem .12rem .24rem;
  background-color: $mainColor;
  .topic {
    @include fontStyle($fontNameColor, .17rem, .18rem);
    margin: .03rem 0;
    padding-left: .02rem;
    text-align: left;
    border-left: .04rem solid $warningColor;
  }
  .filter-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: .22rem .13rem 0;
    text-align: left;
  }
  input {
    @include fontStyle($fontNameColor, .15rem, .21rem);
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    padding: .08rem;
    text-align: center;
    border: 1px solid $borderColor;
    border-radius: 5px;
    width: 1rem;
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .divide {
    -webkit-box-flex: none;
    -ms-flex: none;
    flex: none;
    display: inline-block;
    width: .24rem;
    height: .02rem;
    margin: 0 .1rem;
    background-color: $borderSecondColor;
  }
}
