@import '../../styles/baseStyle';

.wm-range {
  .fa {
    color: $successColor;
  }
  p {
    margin: .1rem .06rem 0;
    text-align: left;
  }
  input {
    width: calc(50% - .4rem);
    margin: .05rem;
    padding: $inputPadding;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
  }
}
