@import '../../../styles/baseStyle';

.wm-settings-set-branch {
  position: relative;
  height: 100%;
  overflow: hidden;
  .bank-list {
    position: absolute;
    top: .45rem;
    right: 0;
    left: 0;
    max-height: calc(100% - .45rem);
    padding-left: .38rem;
    background-color: $mainColor;
    overflow-y: auto;
  }
  .bank-name {
    @include fontStyle($fontColor, .17rem, .24rem);
    padding: .12rem 0;
    border-bottom: 1px solid $borderColor;
    &:last-child {
      border-bottom-width: 0;
    }
    &.current {
      color: $activeColor;
    }
  }
}
