@import '../../styles/baseStyle';

.wm-home-not-paid {
  background: $homeBg;
  ul {
    padding-top: .36rem;
  }
  .list-topic {
    padding: .07rem 0 .06rem .12rem;
    background-color: $backColor;
    text-align: left;
    span {
      @include fontStyle($lFontColor, .15rem, .17rem);
    }
    + .list-cell {
      margin-top: 0;
    }
  }
  .list-cell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: .0 .12rem .08rem;
    padding: .2rem .176rem .2rem .16rem;
    background-color: $mainColor;
    border-radius: 5px;
    + .list-topic {
      margin-top: .1rem;
    }
  }
  .list-cell > span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    text-align: left;
    &.tm {
      -webkit-box-flex: none;
      -ms-flex: none;
      flex: none;
      margin-right: 15.1%;
      text-align: center;
      .day {
        @include fontStyle($rFontColor, .13rem, .18rem);
        margin: 0;
      }
      .date {
        @include fontStyle($rFontColor, .13rem, .16rem);
        margin: 0;
      }
    }
    &.info {
      @include fontStyle($errorColor, .17rem, .24rem);
      @include ellipsis;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-right: .17rem;
    }
    &.bill {
      @include fontStyle($lFontColor, .16rem, .19rem);
      @include ellipsis;
      -webkit-box-flex: none;
      -ms-flex: none;
      flex: none;
      margin-right: .15rem;
      text-align: right;
    }
    &.flag {
      -webkit-box-flex: none;
      -ms-flex: none;
      flex: none;
      img {
        height: .13rem;
      }
    }
  }
  .loadMore {
    @include fontStyle($rFontColor, .13rem, .18rem);
    padding: .07rem 0 .34rem;
  }
}
