@import '../../styles/baseStyle';

.wm-home-draft {
  ul {
    -webkit-overflow-scrolling: touch;
  }
  .list-topic {
    padding: .07rem 0 .06rem .12rem;
    background-color: $backColor;
    text-align: left;
    span {
      @include fontStyle($lFontColor, .15rem, .17rem);
    }
    + .list-cell {
      margin-top: 0;
    }
  }
  .list-cell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: .0 .12rem .08rem;
    padding: .2rem .176rem .2rem .16rem;
    background-color: $mainColor;
    border-radius: 5px;
    + .list-topic {
      margin-top: .1rem;
    }
  }
  .list-cell > span, .list-cell > div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    display: inline-block;
    text-align: left;
    &.tm {
      -webkit-box-flex: none;
      -ms-flex: none;
      flex: none;
      margin-right: 14.1%;
      text-align: center;
      .day {
        @include fontStyle($rFontColor, .13rem, .18rem);
        margin: 0;
      }
      .date {
        @include fontStyle($rFontColor, .13rem, .16rem);
        margin: 0;
      }
    }
    &.info {
      margin-right: .17rem;
      overflow: hidden;
      p {
        margin: 0;
      }
      .cost-type {
        @include fontStyle($fontColor, .17rem, .24rem);
        @include ellipsis;
      }
      .name {
        @include fontStyle($fontNameColor, .17rem, .24rem);
        @include ellipsis;
        width: .8rem;
      }
      .status {
        @include fontStyle($fontNameColor, .13rem, .18rem);
        &.reject {
          color: $errorColor;
        }
      }
    }
    &.bill {
      @include fontStyle($fontNameColor, .16rem, .19rem);
      @include ellipsis;
      -webkit-box-flex: none;
      -ms-flex: none;
      flex: none;
      // width: 1rem;
      margin-right: .15rem;
      text-align: right;
      width: .76rem;
    }
    &.flag {
      -webkit-box-flex: none;
      -ms-flex: none;
      flex: none;
      img {
        height: .13rem;
      }
    }
  }
  .loadMore {
    @include fontStyle($rFontColor, .13rem, .18rem);
    padding: .07rem 0 .34rem;
  }
}

