@import '../../styles/baseStyle';

.wm-draft {
  .list-topic {
    padding: .07rem 0 .06rem .12rem;
    background-color: $backColor;
    text-align: left;
    span {
      @include fontStyle($lFontColor, .15rem, .17rem);
    }
    + .list-cell {
      margin-top: 0;
    }
  }
  .list-cell {
    display: flex;
    align-items: center;
    margin: .0 .12rem .08rem;
    padding: .2rem .176rem .2rem .16rem;
    background-color: $mainColor;
    border-radius: 5px;
    + .list-topic {
      margin-top: .1rem;
    }
  }
  .list-cell > span {
    flex: 1;
    display: inline-block;
    text-align: left;
    &:first-child {
      flex: none;
      margin-right: .33rem;
      text-align: center;
      .day {
        @include fontStyle($rFontColor, .13rem, .18rem);
        margin: 0;
      }
      .date {
        @include fontStyle($rFontColor, .13rem, .16rem);
        margin: 0;
      }
    }
    &:nth-child(2) {
      @include fontStyle($fontColor, .17rem, .24rem);
      flex: 1.5 1 auto;
      margin-right: .17rem;
      word-break: break-all;
    }
    &.reject {
      @include fontStyle($errorColor, .17rem, .24rem);
    }
    &:nth-child(3) {
      @include fontStyle($lFontColor, .16rem, .19rem);
      margin-right: .2rem;
    }
    &:last-child {
      flex: none;
      img {
        height: .23rem;
      }
    }
  }
  .loadMore {
    padding: .06rem 0;
  }
}

