@import '../../styles/baseStyle';

.wm-draft {
  .list-topic {
    padding: .07rem 0 .06rem .12rem;
    background-color: $backColor;
    text-align: left;
    span {
      @include fontStyle($lFontColor, .15rem, .17rem);
    }
    + .list-cell {
      margin-top: 0;
    }
  }
  .list-cell {
    display: flex;
    align-items: center;
    margin: .0 .12rem .08rem;
    padding: .2rem .176rem .2rem .16rem;
    background-color: $mainColor;
    border-radius: 5px;
    + .list-topic {
      margin-top: .1rem;
    }
  }
  .list-cell > span, .list-cell > div {
    flex: auto;
    display: inline-block;
    text-align: left;
    &.tm {
      flex: none;
      margin-right: .5rem;
      text-align: center;
      .day {
        @include fontStyle($rFontColor, .13rem, .18rem);
        margin: 0;
      }
      .date {
        @include fontStyle($rFontColor, .13rem, .16rem);
        margin: 0;
      }
    }
    &.info {
      margin-right: .17rem;
      overflow: hidden;
      p {
        margin: 0;
      }
      .name {
        @include fontStyle($fontNameColor, .17rem, .24rem);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .status {
        @include fontStyle($fontNameColor, .13rem, .18rem);
      }
    }
    &.reject {
      @include fontStyle($errorColor, .17rem, .24rem);
    }
    &.bill {
      @include fontStyle($fontNameColor, .16rem, .19rem);
      margin-right: .15rem;
      text-align: right;
    }
    &.flag {
      flex: none;
      img {
        height: .23rem;
      }
    }
  }
  .loadMore {
    padding: .06rem 0;
  }
}

