@import '../../styles/baseStyle';

.wm-receipt-delete{
  display: flex; flex-direction:row; padding:0.5rem 0; z-index:999; height:5rem; line-height:4rem;
  a{
    flex:1; color:$canClick;
    border-right:1px solid $canClick;
    &:last-child{
      border-right:0;
    }
  }
}
