@import '../../styles/baseStyle';

.wm-expense-attachment {
  @include form-control;
  button, .img {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    margin: .05rem;
  }
  .fa-plus {
    font-size: .4rem;
  }
  .fa-times {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: $defaultColor;
    font-size: .12rem;
    color: $backColor;
    padding: .01rem;
  }
  button {
    border: 1px dashed $borderColorSecondary;
    background-color: transparent;
    text-align: center;
    vertical-align: top;
  }
  .img {
    position: relative;
    padding: .05rem;
    border: 1px solid transparent;
  }
  img {
    width: .4rem;
    height: .4rem;
  }
  padding-bottom: .15rem;
}