@import '../../styles/baseStyle';

.yh-input-text {
  @include fontStyle($llFontColor, 14px, 20px);
  @include border;
  width: 264px;
  padding: 10px;
  background-color: $mainColor;
  &:focus {
    outline: none;
  }
  @include disabled;
}
