@import '../../styles/baseStyle';

.wm-input-text {
  width: 100%;
  font-size: .16rem;
  text-align: left;
  input {
    width: 100%;
    font-size: .14rem;
    border-radius: 4px;
    line-height: inherit;
    border: 1px solid $borderColor;
    padding: .04rem .1rem;
    outline:none;
  }
}
