@import '../../styles/baseStyle';

.wm-modal-select {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(230, 230, 230, .6);
  .container {
    width: 2rem;
    height: auto;
    margin: .5rem auto 0;
    background-color: $backColor;
    overflow: auto;
  }
  ul {
    clear: both;
    margin: .3rem 0;
    max-height: 2.5rem;
  }
  li {
    padding: .05rem;
    &.active {
      color: $backColor;
      background-color: $activeColor;
    }
  }
  button {
    float: right;
    margin: .05rem;
    font-size: .12rem;
    color: $defaultColor;
    background-color: transparent;
  }
}
