@import '../../styles/baseStyle';

.yh-table {
  width: 100%;
  margin: 20px 0 100px;
  border-collapse: collapse;
  th, td {
    @include fontStyle($fontColor, 14px, 20px);
    padding: 8px;
    button {
      @include fontStyle($fontColor, 14px, 20px);
      @include likeButton;
      @include disabled;
      border: 1px solid $borderColor;
      padding: 3px 5px;
      &:active {
        background-color: $activeColor;
      }
    }
  }
  tr {
    border-bottom: 1px solid $borderColor;
  }
}
