@import '../styles/baseStyle';

.core-layout__viewport {
  min-width: 1200px;
  max-width: 1920px;
  width: 100%;
  min-height: calc(100% - 70px);
  margin: 0 auto;
  .yh-sidebar {
    display: inline-block;
    width: 200px;
    vertical-align: top;
  }
  .full-layout {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }
  .right-layout {
    display: inline-block;
    width: calc(100% - 200px);
    // border-left: 1px solid $borderColor;
    vertical-align: top;
  }
}
