@import '../../../styles/baseStyle';

.wm-home-history-filter {
  /* padding-top: $panelPaddingTop; */
  position:absolute;
  width:100%;
  height:100%;
  overflow:auto;
  padding-bottom: .49rem;
  .loadMore {
    @include fontStyle($rFontColor, .13rem, .18rem);
    padding: .07rem 0 .34rem;
  }
}
.no-footer .wm-home-history-filter {
  padding-bottom: 0;
}
