@import '../../styles/baseStyle';

.wm-receipt-flow {
  padding: 1rem;
  background-color: $backColor;
  border-bottom: 1px solid $borderColorSecondary;
  text-align: left;

  .attachment-box {
    margin-bottom: 1rem;
  }

  .attachment {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  img {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: bottom;
    margin: 0 0.3rem;
  }

  .flow {
    position: relative;
    margin-left: 0.5rem;
    padding-left: 1.2rem;
    border-left: 1px solid $borderColorSecondary;
  }

  .avatar {
    margin: .5rem;
    @include avatar(2rem);
  }

  p {
    margin: 0;
  }

  .fa {
    position: absolute;
    top: 0;
    left: -0.55rem;
    padding: .1rem 0;
    background-color: $backColor;
  }

  .detail {
    position: relative;
    margin-bottom: .8rem;
    border: 1px solid $borderColorSecondary;
    border-radius: .3rem;
    @include left-arrow(.1rem, .5rem);
  }

  .info {
    display: inline-block;
    width: calc(100% - 3.5rem);
    margin: .5rem .5rem .5rem 0;
  }

  .comment {
    margin-top: .5rem;
    padding-top: .5rem;
    border-top: 1px solid $borderColorSecondary;
    word-wrap: break-word;
  }
}
