@import '../../styles/baseStyle';

.wm-approval-search-info {
  margin: 0 .12rem .08rem;
  padding: .16rem .12rem;
  border-radius: 5px;
  background-color: $mainColor;
  p { margin: 0; }
  .user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: .08rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid $borderColor;
  }
  .avatar {
    -webkit-box-flex: none;
    -ms-flex: none;
    flex: none;
    width: .4rem;
    height: .4rem;
    margin-right: .1rem;
    border-radius: 50%;
  }
  .info {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    text-align: left;
    overflow: hidden;
  }
  .creater {
    @include ellipsis;
    @include fontStyle($fontColor, .17rem, .24rem);
  }
  .dt, .approval-info {
    @include fontStyle($lFontColor, .13rem, .18rem);
  }
  .approval-info {
    > p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    p {
      padding-top: .07rem;
      text-align: left;
    }
    .info-label {
      -webkit-box-flex: none;
      -ms-flex: none;
      flex: none;
      display: inline-block;
      width: .66rem;
      text-align: right;
    }
    .info-value {
      @include ellipsis;
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
      // @include ellipsis;
      text-align: left;
      word-break: break-all;
    }
  }
}
