@import '../../styles/baseStyle';

.wm-confirm-button {
  @include fontStyle($activeColor, .17rem, .24rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: .16rem;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  background-color: $mainColor;
  text-align: center;
  &:focus, &:hover {
    color: $activeColor;
  }
  .img-icon {
    -webkit-box-flex: none;
    -ms-flex: none;
    flex: none;
    display: inline-block;
    width: .16rem;
    margin: .04rem .08rem .04rem 0;
  }
  span {
    -webkit-box-flex: none;
    -ms-flex: none;
    flex: none;
    height: .24rem;
    padding-top: .02rem;
  }
}
