@import '../../styles/baseStyle';

.wm-form-button {
  width: 100%;
  background-color: $activeColor;
  border-color: $activeBorderColor;
  border-radius: $radiusCycle;
  &:hover {
    background-color: $activeHoverColor;
    border-color: $activeHoverBorderColor;
  }
  &+.wm-form-button {
    margin-top: 1rem;
  }
}
