@import '../../styles/baseStyle';

.wm-form-button {
  width: 100%;
  background-color: $activeColor;
  border-color: $activeBorderColor;
  border-radius: 4px;
  &:hover {
    background-color: $activeHoverColor;
    border-color: $activeHoverBorderColor;
  }
  &+.wm-form-button {
    margin-top: 1rem;
  }
  &[disabled], &[disabled]:hover {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: $disabledOpacity;
    background-color: $disabledColor;
    border-color: $disabledBorderColor;
  }
}
