@import '../../../styles/baseStyle';

.wm-settings-date-filter {
  padding: $panelPadding;
  background-color: #fff;
  text-align: left;

  .fa {
    color: $successColor;
  }

  .topic {
    margin: .1rem 0 0;
  }

  .year-filter button, .month-filter button, .years-filter button {
    background-color: $btnBackColor;
    font-weight: bold;
    padding-top: .05rem;
    padding-bottom: .05rem;
    border-radius: $borderRadius;
  }

  .year-filter {
    button {
      width: 100%;
      color: $successColor;
    }
    .pull-right {
      display: inline-block;
      color: $fontColor;
      margin-top: -.02rem;
    }
  }

  .years-filter {
    display: flex;
    flex-direction: row;
    margin-top: .05rem;
  }

  .change-years {
    flex: 0 0 .2rem;
    padding: .05rem 0;
    &.left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.right {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .years {
    flex: 1 1 auto;
    margin: 0 0.02rem;
    display: inline-flex;
    flex-flow: row wrap;
    text-align: center;
    button {
      flex: 1 1 25%;
      margin: .02rem;
      &.sel {
        color: $successColor;
        background-color: $btnSuccessBackColor;
      }
    }
  }

  .wm-form-button {
    margin: .2rem 0;
  }
}